<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="id_empresa" value="11E8F19B472752B18FF600270E383B06" />
      <!-- FISCAL PRINTER SETTINGS-->
      <add key="puerto" value="COM99" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<bindings>
    <BasicHttpBinding>
      <binding name="basicHttpBinding" allowCookies="true"maxReceivedessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
        <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
      </binding>

    </BasicHttpBinding>
  </bindings>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISisUsuarios" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ISisEmpresa" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ICnfCotizacion" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IInvCategoria" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IInvProducto" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ISisListas" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ISisImpuesto" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ICmpProveedor" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ICmpOperacion" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ISisOperacion" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IInvMovimiento" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IVntCliente" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IVntOperacion" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ICnfCuentaBancaria" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ICajMovimiento" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_ICajOperacion" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IInvOperacion" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IRepInventario" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IRepCompra" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IRepVenta" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IRepCaja" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        <binding name="BasicHttpBinding_IRepDashboard" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
      
        <binding name="BasicHttpBinding_IColOperacion" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
        
        <binding name="BasicHttpBinding_IColMovimiento" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="20000000"
            maxArrayLength="20000000" />
        </binding>
      
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisUsuariosService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisUsuarios"
        contract="SisUsuariosService.ISisUsuarios" name="BasicHttpBinding_ISisUsuarios" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisEmpresaService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisEmpresa"
        contract="SisEmpresaService.ISisEmpresa" name="BasicHttpBinding_ISisEmpresa" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CnfCotizacionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICnfCotizacion"
        contract="CnfCotizacionService.ICnfCotizacion" name="BasicHttpBinding_ICnfCotizacion" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvCategoriaService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvCategoria"
        contract="InvCategoriaService.IInvCategoria" name="BasicHttpBinding_IInvCategoria" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvPrroductoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvProducto"
        contract="InvProductoService.IInvProducto" name="BasicHttpBinding_IInvProducto" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisListasService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisListas"
        contract="SisListasService.ISisListas" name="BasicHttpBinding_ISisListas" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisImpuestoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisImpuesto"
        contract="SisImpuestoService.ISisImpuesto" name="BasicHttpBinding_ISisImpuesto" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CmpProveedorService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICmpProveedor"
        contract="CmpProveedorService.ICmpProveedor" name="BasicHttpBinding_ICmpProveedor" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CmpOperacionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICmpOperacion"
        contract="CmpOperacionService.ICmpOperacion" name="BasicHttpBinding_ICmpOperacion" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisOperacionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisOperacion"
        contract="SisOperacionService.ISisOperacion" name="BasicHttpBinding_ISisOperacion" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvMovimientoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvMovimiento"
        contract="InvMovimientoService.IInvMovimiento" name="BasicHttpBinding_IInvMovimiento" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CajMovimientoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICajMovimiento"
        contract="CajMovimientoService.ICajMovimiento" name="BasicHttpBinding_ICajMovimiento" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CajOperacionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICajOperacion"
        contract="CajOperacionService.ICajOperacion" name="BasicHttpBinding_ICajOperacion" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CnfCuentasBancariasService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICnfCuentaBancaria"
        contract="CnfCuentaBancariaService.ICnfCuentaBancaria" name="BasicHttpBinding_ICnfCuentaBancaria" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvOperacionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvOperacion"
        contract="InvOperacionService.IInvOperacion" name="BasicHttpBinding_IInvOperacion" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepCajaService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepCaja"
        contract="RepCajaService.IRepCaja" name="BasicHttpBinding_IRepCaja" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepCompraService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepCompra"
        contract="RepCompraService.IRepCompra" name="BasicHttpBinding_IRepCompra" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepDashboardService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepDashboard"
        contract="RepDashboardService.IRepDashboard" name="BasicHttpBinding_IRepDashboard" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepInventarioService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepInventario"
        contract="RepInventarioService.IRepInventario" name="BasicHttpBinding_IRepInventario" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepVentaService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepVenta"
        contract="RepVentaService.IRepVenta" name="BasicHttpBinding_IRepVenta" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/VntClienteService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVntCliente"
        contract="VntClienteService.IVntCliente" name="BasicHttpBinding_IVntCliente" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/VntOperacionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVntOperacion"
        contract="VntOperacionService.IVntOperacion" name="BasicHttpBinding_IVntOperacion" />
      
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/ColOperacionService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IColOperacion"
        contract="ColOperacionService.IColOperacion" name="BasicHttpBinding_IColOperacion" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/ColMovimientoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IColMovimiento"
        contract="ColMovimientoService.IColMovimiento" name="BasicHttpBinding_IColMovimiento" />

    </client>
  </system.serviceModel>
</configuration>