<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      
        <!--CONFIGURACION GENERAL DE BINDINGS-->
        <bindings>
            <basicHttpBinding>
                <binding name="miHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
                <binding name="BasicHttpBinding_IColMovimiento" />
                <binding name="BasicHttpBinding_IColOperacion" />
                <binding name="BasicHttpBinding_ISisEmpresa" />
                <binding name="BasicHttpBinding_ISisUsuarios" />
                <binding name="BasicHttpBinding_IInvMovimiento" />
                <binding name="BasicHttpBinding_IInvProducto" />
            </basicHttpBinding>
        </bindings>

         <!--
                CONFIGURACION ORIGINAL DE BINDINGS
                <binding name="BasicHttpBinding_ISisUsuarios" />
                <binding name="BasicHttpBinding_ISisEmpresa" />
                <binding name="BasicHttpBinding_ICnfCotizacion" />
                <binding name="BasicHttpBinding_IInvCategoria" />
                <binding name="BasicHttpBinding_IInvProducto" />
                <binding name="BasicHttpBinding_ISisListas" />
                <binding name="BasicHttpBinding_ISisImpuesto" />
                <binding name="BasicHttpBinding_ICmpProveedor" />
                <binding name="BasicHttpBinding_ICmpOperacion" />
                <binding name="BasicHttpBinding_ISisOperacion" />
                <binding name="BasicHttpBinding_IInvMovimiento" />
                <binding name="BasicHttpBinding_IVntCliente" />
                <binding name="BasicHttpBinding_IVntOperacion" />
                <binding name="BasicHttpBinding_ICnfCuentaBancaria" />
                <binding name="BasicHttpBinding_ICajMovimiento" />
                <binding name="BasicHttpBinding_ICajOperacion" />
                <binding name="BasicHttpBinding_IInvOperacion" />
                <binding name="BasicHttpBinding_IRepInventario" />
                <binding name="BasicHttpBinding_IRepCompra" />
                <binding name="BasicHttpBinding_IRepVenta" />
                <binding name="BasicHttpBinding_IRepCaja" />
                <binding name="BasicHttpBinding_IRepDashboard" />-->
        
        <!--
        BINDING CONFIGURACION ALTERNATIVA (INDIVIDUAL)
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_ISisUsuarios" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ISisEmpresa" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ICnfCotizacion" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IInvCategoria" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IInvProducto" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ISisListas" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ISisImpuesto" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ICmpProveedor" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ICmpOperacion" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ISisOperacion" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IInvMovimiento" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IVntCliente" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IVntOperacion" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ICnfCuentaBancaria" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ICajMovimiento" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_ICajOperacion" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IInvOperacion" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IRepInventario" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IRepCompra" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IRepVenta" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IRepCaja" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>
              <binding name="BasicHttpBinding_IRepDashboard" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
              </binding>

              
            </basicHttpBinding>
        </bindings>
        -->
      
      
        <!--<client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisUsuariosService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisUsuarios"
                contract="SisUsuariosService.ISisUsuarios" name="BasicHttpBinding_ISisUsuarios" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisEmpresaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisEmpresa"
                contract="SisEmpresaService.ISisEmpresa" name="BasicHttpBinding_ISisEmpresa" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CnfCotizacionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICnfCotizacion"
                contract="CnfCotizacionService.ICnfCotizacion" name="BasicHttpBinding_ICnfCotizacion" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvCategoriaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvCategoria"
                contract="InvCategoriaService.IInvCategoria" name="BasicHttpBinding_IInvCategoria" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvPrroductoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvProducto"
                contract="InvProductoService.IInvProducto" name="BasicHttpBinding_IInvProducto" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisListasService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisListas"
                contract="SisListasService.ISisListas" name="BasicHttpBinding_ISisListas" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisImpuestoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisImpuesto"
                contract="SisImpuestoService.ISisImpuesto" name="BasicHttpBinding_ISisImpuesto" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CmpProveedorService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICmpProveedor"
                contract="CmpProveedorService.ICmpProveedor" name="BasicHttpBinding_ICmpProveedor" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CmpOperacionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICmpOperacion"
                contract="CmpOperacionService.ICmpOperacion" name="BasicHttpBinding_ICmpOperacion" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisOperacionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISisOperacion"
                contract="SisOperacionService.ISisOperacion" name="BasicHttpBinding_ISisOperacion" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvMovimientoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvMovimiento"
                contract="InvMovimientoService.IInvMovimiento" name="BasicHttpBinding_IInvMovimiento" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CajMovimientoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICajMovimiento"
                contract="CajMovimientoService.ICajMovimiento" name="BasicHttpBinding_ICajMovimiento" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CajOperacionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICajOperacion"
                contract="CajOperacionService.ICajOperacion" name="BasicHttpBinding_ICajOperacion" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CnfCuentasBancariasService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICnfCuentaBancaria"
                contract="CnfCuentaBancariaService.ICnfCuentaBancaria" name="BasicHttpBinding_ICnfCuentaBancaria" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvOperacionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvOperacion"
                contract="InvOperacionService.IInvOperacion" name="BasicHttpBinding_IInvOperacion" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepCajaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepCaja"
                contract="RepCajaService.IRepCaja" name="BasicHttpBinding_IRepCaja" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepCompraService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepCompra"
                contract="RepCompraService.IRepCompra" name="BasicHttpBinding_IRepCompra" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepDashboardService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepDashboard"
                contract="RepDashboardService.IRepDashboard" name="BasicHttpBinding_IRepDashboard" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepInventarioService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepInventario"
                contract="RepInventarioService.IRepInventario" name="BasicHttpBinding_IRepInventario" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepVentaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepVenta"
                contract="RepVentaService.IRepVenta" name="BasicHttpBinding_IRepVenta" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/VntClienteService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVntCliente"
                contract="VntClienteService.IVntCliente" name="BasicHttpBinding_IVntCliente" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/VntOperacionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVntOperacion"
                contract="VntOperacionService.IVntOperacion" name="BasicHttpBinding_IVntOperacion" />
        </client>-->

      <client>
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisEmpresaService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="SisEmpresaService.ISisEmpresa" name="BasicHttpBinding_ISisEmpresa" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CajMovimientoService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="CajMovimientoService.ICajMovimiento" name="BasicHttpBinding_ICajMovimiento" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CajOperacionService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="CajOperacionService.ICajOperacion" name="BasicHttpBinding_ICajOperacion" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CmpOperacionService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="CmpOperacionService.ICmpOperacion" name="BasicHttpBinding_ICmpOperacion" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CmpProveedorService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="CmpProveedorService.ICmpProveedor" name="BasicHttpBinding_ICmpProveedor" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CnfCotizacionService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="CnfCotizacionService.ICnfCotizacion" name="BasicHttpBinding_ICnfCotizacion" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/CnfCuentasBancariasService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="CnfCuentaBancariaService.ICnfCuentaBancaria" name="BasicHttpBinding_ICnfCuentaBancaria" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvCategoriaService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="InvCategoriaService.IInvCategoria" name="BasicHttpBinding_IInvCategoria" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvOperacionService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="InvOperacionService.IInvOperacion" name="BasicHttpBinding_IInvOperacion" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepCajaService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="RepCajaService.IRepCaja" name="BasicHttpBinding_IRepCaja" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepCompraService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="RepCompraService.IRepCompra" name="BasicHttpBinding_IRepCompra" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepDashboardService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="RepDashboardService.IRepDashboard" name="BasicHttpBinding_IRepDashboard" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepInventarioService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="RepInventarioService.IRepInventario" name="BasicHttpBinding_IRepInventario" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/RepVentaService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="RepVentaService.IRepVenta" name="BasicHttpBinding_IRepVenta" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisImpuestoService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="SisImpuestoService.ISisImpuesto" name="BasicHttpBinding_ISisImpuesto" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisListasService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="SisListasService.ISisListas" name="BasicHttpBinding_ISisListas" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisOperacionService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="SisOperacionService.ISisOperacion" name="BasicHttpBinding_ISisOperacion" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/VntClienteService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="VntClienteService.IVntCliente" name="BasicHttpBinding_IVntCliente" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/VntOperacionService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="VntOperacionService.IVntOperacion" name="BasicHttpBinding_IVntOperacion" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/ColMovimientoService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IColMovimiento"
          contract="ColMovimientoService.IColMovimiento" name="BasicHttpBinding_IColMovimiento" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/ColOperacionService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IColOperacion"
          contract="ColOperacionService.IColOperacion" name="BasicHttpBinding_IColOperacion" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/SisUsuariosService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="SisUsuariosService.ISisUsuarios" name="BasicHttpBinding_ISisUsuarios" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvMovimientoService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="InvMovimientoService.IInvMovimiento" name="BasicHttpBinding_IInvMovimiento" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/InvPrroductoService/"
          binding="basicHttpBinding" bindingConfiguration="miHttpBinding"
          contract="InvProductoService.IInvProducto" name="BasicHttpBinding_IInvProducto" />
      </client>
      
      
    </system.serviceModel>
    <userSettings>
        <App.Properties.Settings>
            <setting name="texto" serializeAs="String">
                <value>False</value>
            </setting>
        </App.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="puerto" value="COM1" />
  </appSettings>

</configuration>